<%# TODO: This groups must store in DB  %>
<% grouped_options ={
       'leaderssl' => %w(www.leaderssl.com newsite.instantssl.su www.leaderssl.nl
                              www.leaderssl.com.ua www.leaderssl.sg www.leaderssl.de www.leaderssl.be
                              www.leaderssl.fr www.leaderssl.co.uk ca.leaderssl.com www.leaderssl.us
                              www.leaderssl.cz www.leaderssl.gr www.leaderssl.ie www.leaderssl.ch
                              www.leaderssl.si www.leaderssl.es),
       'getucc' => %w(www.getucc.com www.getucc.com.uk)
   }
%>

<%= form_tag daily_leads_path,  method: :post, :remote => true do %>
    <strong>Date range:</strong>
    <div class="control-group">
      <%= label_tag :date_from, 'From',  :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :date_from, '', :class => 'datepicker text_field' %>
      </div>
      <%= label_tag :date_to, 'To',  :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :date_to, '',  :class => 'datepicker text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :business_entities, 'Business Entries',  :class => 'control-label' %>
      <div class="controls">
        <%= select_tag :business_entities, options_from_collection_for_select(@business_entities, 'id', 'name_short_or_name'),  :class => 'select2 text_field', :multiple => true %>
        <label class="checkbox">
            <input type="checkbox" id="all_business_entities">all</input>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :lead_sources, 'Lead sources', :class => 'control-label' %>
      <div class="control-group">
        <%# TODO: need using option_groups_from_collection_for_select from DB %>
        <%= select_tag :leads_sources, grouped_options_for_select(grouped_options) ,:class => 'select2 text_field', :multiple => true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :lead_status, 'Lead status', class: 'control-label' %>
      <%= radio_button_tag :lead_status, 'all', true %> All
      <%= radio_button_tag :lead_status, 'not_spam' %> Not spam
      <%= radio_button_tag :lead_status, 'closed' %> closed
      <%= radio_button_tag :lead_status, 'not_closed' %> not closed
    </div>

    <div class="control-group">
      <label class="checkbox">
        <%= check_box_tag :converted_to_contract %>
        Converted to contract
      </label>
    </div>

    <div class="actions">
      <%= submit_tag 'Submit' %>
      <%= submit_tag 'Download as csv'%>
    </div>

<% end %>