<%- model_class = Lead -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:interested_company_id) %>:</strong></dt>
  <dd><%= @lead.interested_company_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lead_source) %>:</strong></dt>
  <dd><%= @lead.lead_source.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @lead.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contract_id) %>:</strong></dt>
  <dd><%= @lead.contract_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leads_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lead_path(@lead), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lead_path(@lead),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
